  .logo img {
    width: 250px;
  }

  .cart{
    position: relative;
    bottom: 10px;
    right: 14px;
    font-size: 16px;
    color:white;
   background-color: #ff1414;
  
  }

  #navbarDropdown {
    color: black; /* Change the color as needed */
    font-size: 16px; /* Adjust the font size as needed */
    font-weight: bold; /* Optionally adjust the font weight */
    text-decoration: none; /* Optionally remove underline */
    margin-right: 10px; /* Adjust the spacing from other elements */
  }

  
  
  