<footer class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <h3>Health</h3>
                <ul class="list-unstyled">
                    <li><a href="#">MediBuddy Gold</a></li>
                    <li><a href="#">Book Medicines</a></li>
                    <li><a href="#">Doctor Consultaion</a></li>
                    <li><a href="#">Book a Lab Test</a></li>
                    <li><a href="#">Covid Essential Items</a></li>
                    <li><a href="#">Surgery Care</a></li>
                    <li><a href="#">Dental</a></li>
                    <li><a href="#">Cancer Care</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3">
                <h3>Hospitalization</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Locate hospital</a></li>
                    <li><a href="#">Download:eCArd | Claims Forms</a></li>
                    <li><a href="#">Track Claims</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3">
                <h3>ABOUT</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Overview</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">contact</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">careers</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="#">Medical Value Travel</a></li>
                    <li><a href="#">Facilitator</a></li>
                    <li><a href="#">MediBuddy Beliefs</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class=" text-center p-5 mt-3">
                    <h5> Download App</h5>
                    <div class="">
                        <a class="p-2">
                            <img src="../../../assets/images/ios.png" height="20">
                        </a>
                        <a>
                            <img src="../../../assets/images/Google play store logo.png" height="20">
                        </a>
                    </div>
                    <div class="p-4 mt-2">
                        <h5>Follow us</h5>
                        <i class="bi bi-facebook fs-5"></i>
                        <i class="bi bi-linkedin fs-5 p-2"></i>
                        <i class="bi bi-instagram fs-5 "></i>
                    </div>
                    <button class="btn btn-primary" type="submit">Private Policy</button>
                    <button class="btn btn-primary mt-3" type="submit">Terms of use</button>
                </div>

            </div>
        </div>
        <hr>
        <p class="text-center">Copyright © 2023 MediBuddy India Pvt. Ltd. All rights reserved.</p>
    </div>
</footer>